body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(kelas.jpg); 
    background-size: contain;
    color: #fff;
    <audio autoplay>
    <source src="agora hills.mp3" type="audio/mpeg">
  </audio>
  
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

header {
    text-align: center;
}

h1 {
    margin: 0;
}

section {
    margin-top: 20px;
}

h2 {
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.person {
    margin: 10px 0;
}
